.button {
    height: 36px;
    background-color: $color-tertiary;
    border: 1px solid transparent;
    color: $text-color-secondary;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0em 1em;

    svg {
        margin-right: 0.5em;
    }

    &:hover {
        opacity: 70%;
    }
}

.button-small {
    height: 26px;
    background-color: $color-cuaternary;
    border: 1px solid transparent;
    color: $text-color;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0em 1em;
    font-size: 12px;

    &.black {
        background-color: $color-tertiary;
        color: $text-color-secondary;
    }

    svg {
        margin-left: 0.5em;
    }

    &:hover {
        opacity: 70%;
    }
}