.button {
    height: 36px;
    background-color: #c6d1f6;
    border: 1px solid transparent;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0em 1em;
    width: 100%;
    color: $color-tertiary;

    svg {
        margin-right: 0.5em;
    }

    &.white {
        background-color: $color-primary;
        color: $text-color;
        border: 1px solid $color-border-secondary;

        &:hover {
            opacity: 70%;
        }
    }

    &.search{
        background-color: transparent;
        border: 1px solid rgba($color: $color-border-tertiary, $alpha: 1);
        color: $text-color;

        p{
            padding: 0px;
        }
    
        :hover {
            border: 1px solid rgba($color: $color-border-tertiary, $alpha: 0.25);;
            background-color: transparent;
        }
    }

    &:hover{
        opacity: 80%;
    }
}

.button-small {
    height: 26px;
    background-color: #c6d1f6;
    border: 1px solid transparent;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0em 1em;
    font-size: 12px;
    width: 100%;
    width: fit-content;
    color: $color-tertiary;

    &.black {
        background-color: $color-tertiary;
        color: $text-color-secondary;
    }

    &.white {
        background-color: $color-secondary;
        border: 1px solid $color-border;

        &:hover {
            border: 1px solid $color-border-tertiary;
        }
    }

    &.transparent {
        background-color: transparent;
        text-decoration: underline;
    }

    svg {
        margin-left: 0.5em;
    }

    &:hover {
        opacity: 70%;
    }
}

//////

.mainbutton {
    position: relative;
    padding: 0em 1em;
    height: 36px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $color-tertiary;
    overflow: hidden;
}

.fillbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-blue;
}

.contentbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
}

.containerbutton {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}