.button {
    height: 36px;
    background-color: $color-tertiary;
    border: 1px solid transparent;
    color: $text-color-secondary;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0em 1em;
    width: 100%;

    svg {
        margin-right: 0.5em;
    }

    &:hover {
        opacity: 70%;
    }

    &.white {
        background-color: $color-primary;
        color: $text-color;
        border: 1px solid $color-border-secondary;

        &:hover {
            background-color: $color-tertiary;
            border: 1px solid transparent;
            color: $text-color-secondary;        
        }
    }
}

.button-small {
    height: 26px;
    background-color: $color-cuaternary;
    border: 1px solid transparent;
    color: $text-color;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0em 1em;
    font-size: 12px;
    width: 100%;
    width: fit-content;

    &.black {
        background-color: $color-tertiary;
        color: $text-color-secondary;
    }

    &.white {
        background-color: $color-secondary;
        border: 1px solid $color-border;

        &:hover {
            border: 1px solid $color-border-tertiary;
        }
    }

    &.transparent{
        background-color: transparent;
        text-decoration: underline;
    }

    svg {
        margin-left: 0.5em;
    }

    &:hover {
        opacity: 70%;
    }
}