@import "../main.scss";

.home{
    padding: 2em 10em;

    .filters{
        margin-bottom: 1em;
        position: relative;

        span{
            margin-left: 1em;
        }
    }

    @include respond(tab-port) {
        padding: 2em;
    }

    @include respond(phone) {
        padding: 1em;
    }

}