@import "../main.scss";

.login {
    width: 100vw;
    height: 100svh;
    position: relative;

    .content {
        width: 100%;
        height: 100svh;

        svg{
            fill: $color-primary;
        }

        img{
            height: 15%;
            object-fit: contain;
            margin-bottom: $margin-horizontal;
        }

        .form {
            width: 30%;
            height: 55%;
            max-height: 600px;
            padding: 2.5%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;            
            position: relative;
            z-index: 9999;
            border-radius: $border-radius;
            background-color: transparent;

            .iconLogin {
                background-color: $background-color;
                border-radius: 100%;
                border: 1px solid $color-border;
                width: 40px;
                height: 40px;
            }

            p {
                color: $text-color-secondary;
                font-size: $font-medium;
            }

            @include respond(tab-port) {
                width: 50%;
                height: 70%;

                .iconLogin {
                    padding: $padding;
                }
            }

            @include respond(phone) {
                width: 90%;
                height: 70%;
                padding: $padding;

            }
        }

        .blur {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: $padding;
            margin: 0 auto;
            background-position: center -100px;
            z-index: -1;
            border-radius: 1em;
        }
    }
}