@forward "../main.scss";
@use "../Abstracts/variables" as *;
@use "../Abstracts/mixins" as *;

.login {
    width: 100vw;
    height: 100svh;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100svh;

        img {
            height: 15%;
            width: auto;
            object-fit: contain;
            margin-bottom: $margin-horizontal;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            height: 55%;
            max-height: 600px;
            padding: $padding;
            box-shadow: $box-shadow-modal;
            position: relative;
            z-index: 9999;
            border-radius: $border-radius;
            background-color: transparent;
            border: 1px solid $color-border-secondary;

            .header {
                display: flex;
                flex-direction: column;
                margin-bottom: $margin-vertical*2;
            }

            .form__content {
                display: flex;
                flex-direction: column;
                gap: $gap;
            }

            .iconLogin {
                background-color: $background-color;
                border-radius: 100%;
                border: 1px solid $color-border;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: $margin-vertical;
            }

            @include respond(tab-port) {
                width: 50%;
                height: 70%;

                .iconLogin {
                    padding: $padding;
                }
            }

            @include respond(phone) {
                width: 90%;
                height: 70%;
                padding: $padding;
            }
        }
    }
}