@import "../main.scss";

.pageDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: $font-medium;

    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }

    .page {
        width: 100%;
        min-height: 100vh;

        @include respond(tab-port) {
            width: 90%;
        }


        @include respond(phone) {
            width: 90%;
        }

        .back {
            margin-bottom: $margin-vertical;
            display: flex;
            align-items: center;
            gap: $gap;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .pageDetails__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: $padding-horizontal;

        @include respond(phone) {
            padding: 0em $padding;
            display: flex;
            flex-direction: column;
            justify-content: none;
            height: 100%;
        }

        .header {
            margin-bottom: $margin-vertical;
        }

        .observations {
            padding: $padding;
            background-color: $background-color-secondary;
            border: 1px solid rgba($color: $color-border, $alpha: 1);
            border-radius: $border-radius;
            margin-bottom: $margin-vertical;
            
            
            p{
                font-weight: bold;
                color: $text-color-secondary;
                margin-bottom: $margin-vertical;
            }

            span{
                font-weight: normal;
            }

            @include respond(phone) {
                padding: 1em;
            }
        }

        .details {
            padding: $padding;
            background-color: $background-color-secondary;
            border: 1px solid rgba($color: $color-border, $alpha: 1);
            border-radius: $border-radius;
            margin-bottom: $margin-vertical;
            

            @include respond(phone) {
                padding: 1em;
            }

            div {
                display: flex;
                padding: $padding 0em;
                position: relative;

                p{
                    margin-right: $margin-horizontal;
                    font-weight: bold;
                    color: $text-color-secondary;
                }

                span{
                    font-weight: normal;
                }

                &:not(:last-child) {
                    p {
                        &::before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            background-color: rgba($color: $color-border, $alpha: 1);
                        }
                    }
                }
            }

            @include respond(phone) {
                width: 100%;
            }
        }

        .counter {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            background-color: $background-color;

            @include respond(phone) {
                position: sticky;
                bottom: 0px;
                left: 0px;
                width: 100%;
                padding: $padding;
                height: 70px;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: rgba($color: $color-border, $alpha: 1);
                }
            }

            .stock{
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                p{
                    margin-right: $padding;
                }

                strong{
                    margin-left: $margin-horizontal;
                }
            }

            .action{
                display: flex;
                align-items: center;
                width: 60%;

                @include respond(phone) {
                    width: 100%;
                }

                p{
                    width: 70%;
                }
            }

        }

        span {
            font-weight: bold;
        }
    }

}