@import "../main.scss";

.products {
    padding: $padding*2 $padding*10;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-height: 85svh;

    .header {
        margin-bottom: 1em;
        //position: sticky;
        top: 60px;
        width: 100%;
        background-color: $background-color;
        z-index: 999;

        @include respond(phone) {
            width: fit-content;
        }

        .company {
            margin-bottom: 5px;
            font-size: $font-medium;
            color: $color-gray;
        }

        .header__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @include respond(phone) {
                gap: $gap;
            }

            span {
                margin-left: $margin-horizontal;
            }

            .search {
                height: 100%;
                min-width: 40%;
                width: fit-content;
                position: relative;
                transition: width 0.6s ease-in-out;
                z-index: 9;

                @include respond(phone) {
                    display: none;
                }


                @include respond(tab-port) {
                    min-width: 60%;
                }

                @include respond(phone) {
                    width: 60%;
                }

                &.active {
                    width: 50%;
                    animation: appear-Left-to-Right 0.1s ease-in-out;
                }

                .inputSearch {
                    border: none;
                    width: 100%;
                    position: relative;
                    border: 1px solid $color-border;
                    border-radius: $border-radius;
                    z-index: 9999;
                    height: 40px;
                    display: flex;

                    &:valid {
                        padding: 0em $padding*2.5;

                        @include respond(phone) {
                            padding: 0em $padding*2.5;
                        }
                    }

                    &:hover {
                        opacity: 70%;
                    }
                }

                .iconSearch {
                    position: absolute;
                    top: 0%;
                    left: 2%;
                    height: 100%;
                    z-index: 9999;

                    @include respond(phone) {
                        left: 5%;

                    }
                }

                .resultsSearch {
                    background-color: $background-color;
                    border: 1px solid $color-border;
                    border-radius: 5px;
                    padding: $padding;
                    position: absolute;
                    top: 150%;
                    width: 100%;
                    z-index: 9999;

                    @include respond(phone) {
                        width: 90vw;
                        position: absolute;
                        left: 0px;
                    }

                    .filtersSearch {
                        background-color: $background-color-secondary;
                        border: 1px solid $color-border;
                        border-radius: $border-radius;
                        padding: $padding;
                        margin-bottom: $margin-vertical;

                        div:not(:first-child) {
                            margin-left: $margin-horizontal;
                        }
                    }
                }
            }

            .rightContent {
                display: flex;

                .filtersTag {
                    display: flex;
                    align-items: center;
                    height: auto;
                    gap: $gap;

                    @include respond(phone) {
                        width: 100%;
                        flex-wrap: wrap-reverse;
                    }
                }

                @include respond(phone) {
                    align-items: center;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .backgroundSearch {
        width: 100%;
        height: 100svh;
        position: fixed;
        top: 0px;
        left: 0px;
        animation: appear 0.6s ease-in-out;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.03);
        z-index: 1;
    }

    @include respond(tab-port) {
        padding: $padding*3;
    }

    @include respond(phone) {
        padding: $padding;
    }
}