@import "../main.scss";

.products {
    padding: 2em 10em;

    .nameFilter {
        padding-bottom: 1em;
        max-width: 900px;

        @include respond(phone) {
            display: none;
        }
    }

    .filters {
        margin-bottom: 1em;
        position: relative;

        @include respond(phone) {
            display: none;
            margin: 0px;
        }

        span {
            margin-left: 1em;
        }

        .buttonFilter {
            display: flex;
            position: relative;
            margin-right: 1em;

            @include respond(phone) {
                display: none;
            }

            button {
                border: 1px solid black;

                @include respond(phone) {
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                @include respond(phone) {
                    display: none;
                }
            }

            svg {
                @include respond(phone) {
                    margin: 0px;
                }
            }

            .filtersCount {
                background-color: black;
                color: $text-color-secondary;
                position: absolute;
                top: 0px;
                right: 0px;
                border-radius: 1em;
                transform: translate(50%, -50%);
                border: 1px solid $color-border;

                p {
                    width: 16px;
                    height: 16px;
                    font-size: 10px;
                }
            }
        }

        .filtersTag {
            display: flex;

            div {
                height: 100%;
                margin-right: 0.5em;
            }

            @include respond(phone) {
                display: none;
            }
        }
    }

    .nameFilterMobil {
        padding: 1em 1.25em 0em 1.25em;
        max-width: 900px;
        text-align: center;
        display: none;

        @include respond(phone) {
            display: flex;
        }
    }

    .filtersMobil {
        position: relative;
        position: sticky;
        top: 0%;
        right: 0px;
        padding: 1em;
        z-index: 999;
        background: $background-color;
        display: none;


        @include respond(phone) {
            display: flex;
        }

        .buttonFilter {
            width: 40px;
            height: 40px;
            display: flex;
            background-color: $color-secondary;
            position: absolute;
            bottom: 50%;
            right: calc(2% + 1em);
            transform: translate(0%, 50%);
            background-color: $background-color-gradient;
            border-radius: 100%;
            z-index: 99999;

            button {
                border: 1px solid black;
                border-radius: 100%;
                width: 100%;
                height: 100%;
            }

            svg {
                margin: 0px;
            }

            .filtersCount {
                background-color: black;
                color: $text-color-secondary;
                position: absolute;
                top: 0px;
                right: 0px;
                border-radius: 1em;
                transform: translate(25%, -25%);
                border: 1px solid $color-border;

                p {
                    width: 16px;
                    height: 16px;
                    font-size: 10px;
                }
            }
        }
    }

    .main {
        @include respond(phone) {
            // Put this padding here because of search mobil design ( see Home.module.scss ).
            margin: 1em;
        }
    }

    .search {
        min-width: 30%;
        width: fit-content;
        margin-bottom: 1em;
        position: relative;
        z-index: 999;
        transition: width 0.6s ease-in-out; 
    
        @include respond(tab-port) {
            min-width: 60%;
        }

        @include respond(phone) {
            min-width: 100%;
        }

        &.active {
            width: 50%;
            animation: appear-Left-to-Right 0.1s ease-in-out; /* Usar animation para controlar el tiempo exacto */
        }

        .inputSearch {
            position: relative;
            border: none;
            width: 100%;
            height: 40px;
            position: relative;
            border: 1px solid $color-border;
            border-radius: 5px;

            &:valid {
                padding: 0em 3.5em;
            }

            &:hover{
                opacity: 70%;
            }
        }

        .iconSearch {
            position: absolute;
            top: 0px;
            left: 0px;
            transform: translate(100%, 0%);
            height: 100%;
        }

        .resultsSearch{
            background-color: $background-color;
            border: 1px solid $color-border;
            border-radius: 5px;
            padding: 1em;
            position: absolute;
            z-index: 99;
            top: 110%;
            width: 100%;

            .filtersSearch{
                background-color: $background-color-secondary;
                border: 1px solid $color-border;
                border-radius: 5px;
                padding: 0.5em;
                margin-bottom: 0.5em;

                div:not(:first-child){
                    margin-left: 0.75em;
                }
            }
        }
    }

    .backgroundSearch {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        animation: appear 0.6s ease-in-out;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.03);
        z-index: 99;
    }

    @include respond(tab-port) {
        padding: 2em;
    }

    @include respond(phone) {
        padding: 0em;
    }
}