@import "../main.scss";

.pageDetails{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page{
        width: 60%;
        padding: 3em 0em 10em 0em;

        .back{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap:1em;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .content{
        display: flex;
        justify-content: space-between;
        gap: 1em;
        padding: 0em 4em;
        min-width: 100%;

        @include respond(phone) {
            padding: 0em 1em;
            display: flex;
            flex-direction: column;
            justify-content: none;
        }


        .details{
            width: 55%;
            color: $text-color-light;

            h1{
                margin-bottom: 10px;
                font-size: 26px;
                color: $text-color;
            }

            span{
                color: $text-color;
                font-weight: bold;
            }

            @include respond(phone) {
                width: 100%;
            }
        }

        .price{
            width: 35%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            padding: 1em 2em;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
            
            p{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
            }

            @include respond(phone) {
                display: flex;
                flex-direction: row;
                align-items: center;

                width: 100%;
                position: fixed;
                bottom: 0px;
                left: 0px;
                background-color: $background-color;

                > div{
                    width: 50%;
                }
            }
        }
    }
}