@import "../main.scss";

.products {
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
    min-height: 85svh;

    .header {
        margin-bottom: 1em;
        position: sticky;
        top: 60px;
        width: 100%;
        background-color: $background-color;
        padding: 1em 0em 2em 0em;
        z-index: 999;

        .company{
            margin-bottom: 5px;
            font-size: $font-medium;
            color: $color-gray;
        }

        .container{
            justify-content: space-between;
            width: 100%;
            display: flex;
            align-items: center;

            @include respond(phone) {
                gap: 5px;
            }

            span {
                margin-left: 1em;
            }

            .search {
                height: 100%;
                min-width: 40%;
                width: fit-content;
                position: relative;
                transition: width 0.6s ease-in-out;
                z-index: 9999;

                @include respond(tab-port) {
                    min-width: 60%;
                }
        
                @include respond(phone) {
                    width: 60%;
                }
        
                &.active {
                    width: 50%;
                    animation: appear-Left-to-Right 0.1s ease-in-out;
                }
        
                .inputSearch {
                    border: none;
                    width: 100%;
                    position: relative;
                    border: 1px solid $color-border;
                    border-radius: $border-radius;
                    z-index: 9999;
                    height: 40px;
                    display: flex;

                    @include respond(phone) {
                        font-size: $font-normal;
                    }
                    

                    &:valid {
                        padding: 0em $padding*2.5;

                        @include respond(phone) {
                            padding: 0em $padding*2.5;
                        }
                    }

                    &:hover {
                        opacity: 70%;
                    }
                }

                .iconSearch {
                    position: absolute;
                    top: 0%;
                    left: 2%;
                    height: 100%;
                    z-index: 9999;

                    @include respond(phone) {
                        left: 5%;

                    }
                }

                .resultsSearch {
                    background-color: $background-color;
                    border: 1px solid $color-border;
                    border-radius: 5px;
                    padding: $padding;
                    position: absolute;
                    top: 150%;
                    width: 100%;
                    z-index: 9999;

                    @include respond(phone) {
                        width: 90vw;
                        position: absolute;
                        left: 0px;
                    }
        
                    .filtersSearch {
                        background-color: $background-color-secondary;
                        border: 1px solid $color-border;
                        border-radius: $border-radius;
                        padding: $padding;
                        margin-bottom: $margin-vertical;
        
                        div:not(:first-child) {
                            margin-left: $margin-horizontal;
                        }
                    }
                }
            }

            .rightContent{

                @include respond(phone) {
                    width: 40%;
                    margin-right: 0em;
                    display: flex;
                    justify-content: flex-end;
                }

                .filters {
                    display: flex;
                    height: 100%;
                    margin-right: $margin-horizontal;

                    .buttonFilter {
                        display: flex;
                        position: relative;
                        border-radius: $border-radius;
        
                        @include respond(phone) {
                            width: 30px;
                            height: 30px;
                        }
        
                        button {
                            background-color: $color-primary;
                            border: 1px solid $color-border;
                            height: 100%;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            @include respond(phone) {
                                border-radius: $border-radius;
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        &.active {
                            button {
                                border: 1px solid black;
                            }
                        }
    
                        p {
                            @include respond(phone) {
                                display: none;
                            }
                        }
    
                        svg {
                            @include respond(phone) {
                                margin: 0px;
                            }
                        }
        
                        .filtersCount {
                            background-color: black;
                            color: $text-color-secondary;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            border-radius: $border-radius;
                            transform: translate(50%, -50%);
                            border: 1px solid $color-border;
        
                            p {
                                width: 16px;
                                height: 16px;
                                font-size: $font-small;
                            }
                        }
                    }

                    .filtersTag {
                        display: flex;
        
                        div {
                            height: 100%;
                            margin-right: $margin-horizontal;
                        }
        
                        @include respond(phone) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .backgroundSearch {
        width: 100%;
        height: 100svh;
        position: fixed;
        top: 0px;
        left: 0px;
        animation: appear 0.6s ease-in-out;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.03);
        z-index: 1;
    }

    @include respond(tab-port) {
        padding: $padding*3;
    }

    @include respond(phone) {
        padding: $padding;
    }
}
