@import "../main.scss";

.account{
    padding: 2em 0em;
    position: relative;

    .info{

        .header{
            p{ color : $text-color-tertiary}
            margin-bottom: 2em;
        }

        .form {
            .item{
                margin-bottom: 1em;
            }

            label{
                font-weight: bold;
            }
        }
    }

    ::before{
        content: "";
        height: 1px;
        width: 100%;
        background-color: $color-border-secondary;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}