@import "../main.scss";

.success {
    height: 85svh;
    padding: $padding*2 $padding*10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tab-port) {
        padding: $padding*3;
    }

    @include respond(phone) {
        padding: $padding*2;
    }

    h1 {
        font-size: $font-big;
        color: $color-tertiary;
        width: 60%;
        line-height: $font-big;
        padding-bottom: $padding-bottom/2;

        @include respond(phone) {
            padding-bottom: 1rem;
            width: 80%;
        }
    }



    .message {
        padding-bottom: 1em;
    }

    .actions {
        display: flex;
        gap: $gap;

        @include respond(phone) {
            flex-direction: column;
            width: 100%;
        }

    }

}