@import "../main.scss";


.messageEmpty {
    padding: 1em;
}

.SearchOnboarding{

    .searchHome {
        width: 100%;
        margin-bottom: $margin-horizontal;
        display: flex;
        flex-direction: row;
        gap: $gap;
    }
    
    .results {
        display: flex;
        flex-direction: column;
    
        .item {
            background-color: $color-primary;
            border: 1px solid $color-border;
            margin-bottom: 0.5em;
            padding: 0.5em 1em;
            border-radius: 5px;
            cursor: pointer;
    
            li {
                list-style-type: none;
            }
    
            &:hover {
                background-color: $color-secondary;
                border: 1px solid $color-border-secondary;
            }
        }
    }
}
