@import "../main.scss";

.searchGlobal{
    height: 100%;
    cursor: pointer;
    margin-bottom: 1em;

    input{
        opacity: 50%;
        height: 100%;
        background-color: transparent;
        border-radius: 0.5em;
        border: 1px solid $color-border-tertiary;

        &:hover{
            opacity: 100%;
        }
    }
}

.messageModal{
    padding: 0em 1em;
    width: 100%;
    font-size: $font-sm;
    border-bottom: 1px solid $color-border;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}