@import "../main.scss";

.footer {
    height: 40px;
    width: 100%;
    padding: 3em 10em 3em 10em;
    justify-content: flex-end;
    color: $text-color-light;
    position: relative;

    p{
        z-index: 1;
        font-size: 14px;
    }

    .image{
        height: 30px;
        width: 90px;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            width: 90px;
            object-fit: contain;
            cursor: pointer;
            &:hover{
                opacity: 70%;
            }
        }

    }

    @include respond(tab-port) {
        padding: 0em 4em;
    }

    @include respond(phone) {
        padding: 0em 1em;
    }


    span{
        font-weight: bold;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    &::after {
        content: "";
        height: 1px;
        width: 100%;
        background: radial-gradient(circle, rgba($color-yellow, 100%) 0%, rgba($color-yellow, 100%) 0%, rgba(249, 249, 249, 1) 100%);
        position: absolute;
        top: 0px;
        right: 0px
    }

}