@import "../main.scss";

.footer {
    height: 40px;
    width: 100%;
    padding: 1em 10em 1em 10em;
    justify-content: flex-end;
    color: $text-color-light;

    p{
        z-index: 1;
    }

    .image{
        height: 20px;
        width: 90px;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 90px;
            object-fit: contain;
            cursor: pointer;
            &:hover{
                opacity: 70%;
            }
        }

    }

    @include respond(tab-port) {
        padding: 0em 4em;
    }

    @include respond(phone) {
        padding: 0em 1em;
    }

    p{
        font-size: 14px;
    }

    span{
        font-weight: bold;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }


}