@forward "../main.scss";
@use "../Abstracts/variables" as *;
@use "../Abstracts/mixins" as *;

.footer {
    height: 40px;
    width: 100%;
    padding: $padding*3 $padding*10 $padding*3 $padding*10;
    justify-content: flex-end;
    color: $text-color-light;
    position: relative;
    display: flex;
    align-items: center;

    p{
        z-index: 1;
        font-size: $font-normal;
    }

    .image{
        height: 30px;
        width: 90px;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{
            width: 90px;
            height: auto;
            object-fit: contain;
            cursor: pointer;
            &:hover{
                opacity: 70%;
            }
        }

    }

    @include respond(tab-port) {
        padding: 0em $padding*4;
    }

    @include respond(phone) {
        padding: 0em $padding;
    }


    span{
        font-weight: bold;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    &::after {
        content: "";
        height: 1px;
        width: 100%;
        background: radial-gradient(circle, rgba($color-yellow, 100%) 0%, rgba($color-yellow, 100%) 0%, rgba(249, 249, 249, 1) 100%);
        position: absolute;
        top: 0px;
        right: 0px
    }

}