@import "../main.scss";

.header {
    height: 60px;
    padding: $padding $padding*10;
    position: sticky;
    top: 0;
    z-index: 999;
    color: $text-color-light;
    background-color: $color-tertiary;

    @include respond(tab-land) {
        padding: $padding $padding*5;
    }


    @include respond(tab-port) {
        padding: $padding $padding*3;
    }

    @include respond(phone) {
        padding: $padding;
    }

    .content {
        margin: 0px;
        height: 100%;
        font-size: $font-medium;
        display: flex;
        justify-content: space-between;

        .left {
            width: 100%;
            display: flex;
            align-items: center;

            >div {
                &:not(:last-child) {
                    margin-right: 0px;
                }
            }

            .client {
                display: flex;
                justify-content: center;
                cursor: pointer;
                align-items: center;

                span {
                    padding: 0em $padding-horizontal;

                    @include respond(phone) {
                        display: none;
                    }
                }

                .circular {
                    background-color: $color-yellow;
                    padding: 0.1em;
                    border-radius: $border-radius;
                    margin-right: 0.5em;

                    .content {
                        background-color: $color-tertiary;
                        padding: 0.05em;
                        border-radius: $border-radius;

                        p {
                            color: $text-color;
                            font-size: $font-medium;

                            background-color: $color-yellow;
                            min-width: 18px;
                            height: 18px;
                            border-radius: $border-radius / 1.25;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .name {
                    max-width: 140px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    margin-right: $margin-horizontal;
                    width: max-content;
                }

                .description {
                    background-color: $color-cuaternary;
                    padding: $padding / 2;
                    font-size: $font-small;
                    border-radius: $border-radius;
                    color: $text-color;

                    @include respond(phone) {
                        display: none;
                    }
                }

                &:hover {
                    opacity: 70%;
                }
            }

            .logo {
                bottom: 0px;
                left: 0px;
                height: 40px;
                width: 220px;
                position: relative;
                cursor: pointer;

                img {
                    object-fit: contain;
                    object-position: center;
                }

                @include respond(phone) {
                    display: none;
                }

                &:hover {
                    opacity: 80%;
                }
            }

            @include respond(phone) {
                .search {
                    display: none;
                }
            }
        }

        .right {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .orders {
                height: 100%;
                opacity: 100%;
                padding: $padding;

                p {
                    margin-right: $margin-horizontal;
                    font-size: $font-medium;
                }

                svg {
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    opacity: 100%;
                }
            }

            .profile {
                padding: 0em;
                position: relative;
                background-color: transparent;
                border-radius: $border-radius;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(phone) {
                    position: static;
                }

                .info {
                    padding-right: $padding-horizontal;

                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }

                    @include respond(phone) {
                        display: none;
                    }
                }

                .circle {
                    background-color: $color-primary;
                    padding: 0.1em;
                    border-radius: $border-radius;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .content {
                        background-color: $color-tertiary;
                        padding: 1px;
                        border-radius: $border-radius;

                        p {
                            font-size: $font-medium;
                            color: $text-color;
                            background-color: $color-primary;
                            min-width: 18px;
                            height: 18px;
                            border-radius: $border-radius / 1.25;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                .profileBox {
                    background-color: $background-color;
                    border: 1px solid $color-border;
                    position: absolute;
                    top: 120%;
                    right: 0px;
                    width: 225px;
                    border-radius: $border-radius;
                    z-index: 999;

                    @include respond(phone) {
                        width: 100vw;
                        left: 0px;
                        border-radius: none;
                        border: 0px;
                        border-bottom: 1px solid $color-border;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
                    }

                    .link {
                        padding: $padding;
                        border-radius: $border-radius;
                        cursor: pointer;

                        &:hover {
                            background-color: $color-secondary;
                        }
                    }
                }

                &:hover {
                    opacity: 70%;
                }

            }

            .search {
                height: 100%;

                button {
                    padding: $padding;
                    background-color: transparent;
                    border: 0px;
                    opacity: 100%;
                    height: 100%;
                    font-size: $font-medium;

                    p {
                        color: $text-color;
                        font-family: poppins;
                    }

                    svg {
                        width: 18px;
                        height: 18px;
                        padding: $padding;
                    }

                    &:hover {
                        opacity: 100%;
                    }
                }
            }

            .cart {
                position: relative;
                margin-left: 0.5em;

                .circle {
                    width: 18px;
                    height: 18px;
                    background-color: $color-red;
                    border-radius: $border-radius;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    top: 0px;
                    right: 0px;

                    p {
                        font-size: $font-small;
                        color: $text-color-light
                    }
                }
            }

            @include respond(phone) {

                .search {
                    display: none;
                }

                .orders {
                    display: none;
                }
            }
        }

        .item {
            height: 100%;
            width: 40px;
            border-radius: $border-radius;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 0.1em;
            }

            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}