@import "../main.scss";

.header {
    height: 60px;
    padding: 1em 10em;
    position: sticky;
    top: 0;
    z-index: 999;
    color: $text-color-secondary;
    background-color: $color-tertiary;

    &.secondary {
        background-color: $color-tertiary;
        color: $background-color;

        &.left {

            &.client {
                &.description {
                    background-color: $color-tertiary;
                }
            }
        }

        .right {
            .orders {
                svg {
                    fill: $background-color;
                }
            }

            .profile {
                background-color: $color-tertiary;

                .profileBox {
                    background-color: $color-tertiary;
                }
            }
        }

        &::before {
            display: none;
        }
    }

    @include respond(tab-port) {
        padding: 0.75em 2em;
    }

    @include respond(phone) {
        padding: 1em;
        //position: relative;
    }

    .content {
        margin: 0px;
        height: 100%;

        .left {
            width: 100%;

            >div {
                &:not(:last-child) {
                    margin-right: 0em;
                }
            }

            .client {

                span {
                    padding: 0em 0.5em;

                    @include respond(phone) {
                        display: none;
                    }
                }

                .circular {
                    background-color: $color-yellow;
                    padding: 0.1em;
                    border-radius: 100%;
                    margin-right: 0.5em;

                    .content {
                        background-color: $color-tertiary;
                        padding: 0.05em;
                        border-radius: 100%;

                        p {
                            color: $text-color;
                            font-size: $font-medium;

                            background-color: $color-yellow;
                            min-width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                .name {
                    max-width: 140px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    margin-right: 0.5em;
                    width: max-content;
                }

                .description {
                    background-color: $color-cuaternary;
                    padding: 0.25em 0.5em;
                    font-size: $font-medium;
                    border-radius: 10em;
                    color: $text-color;

                    @include respond(phone) {
                        display: none;
                    }
                }

                &:hover {
                    opacity: 70%;
                }
            }

            .logo {
                bottom: 0px;
                left: 0px;
                height: 40px;
                width:220px;
                position: relative;

                img {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }

                @include respond(phone) {
                    display: none;
                }

                &:hover {
                    opacity: 100%;
                }
            }

            @include respond(phone) {
                .search {
                    display: none;
                }
            }
        }

        .right {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .orders {
                height: 100%;
                opacity: 100%;
                padding: 0.5em 1em;

                p {
                    margin-left: 0.5em;
                    font-size: 12px;
                }

                svg {
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    opacity: 100%;
                }
            }

            .profile {
                padding: 0em;
                position: relative;
                background-color: transparent;
                border-radius: 5px;
                cursor: pointer;

                @include respond(phone) {
                    position: static;
                }

                .info {
                    padding-right: 1em;

                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        color: $text-color-secondary;
                    }

                    @include respond(phone) {
                        display: none;
                    }
                }

                .circle {
                    background-color: $color-primary;
                    padding: 0.1em;
                    border-radius: 100%;

                    .content {
                        background-color: $color-tertiary;
                        padding: 0.05em;
                        border-radius: 100%;

                        p {
                            color: $text-color;
                            font-size: $font-medium;
                            background-color: $color-primary;
                            min-width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                .profileBox {
                    background-color: $background-color;
                    border: 1px solid $color-border;
                    position: absolute;
                    top: 120%;
                    right: 0px;
                    width: 225px;
                    padding: 0.25em;
                    border-radius: 0.5em;
                    z-index: 999;

                    @include respond(phone) {
                        width: 100vw;
                        left: 0px;
                        border-radius: none;
                        border: 0px;
                        border-bottom: 1px solid $color-border;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
                    }

                    .link {
                        padding: 0.5em 1em;
                        border-radius: 0.5em;
                        cursor: pointer;

                        &:hover {
                            background-color: $color-secondary;
                        }
                    }
                }

                &:hover {
                    opacity: 70%;
                }

            }

            .search {
                height: 100%;

                button {
                    padding: 0.5em 1em;
                    background-color: transparent;
                    border: 0px;
                    opacity: 100%;
                    height: 100%;
                    font-size: 12px;

                    p {
                        color: $text-color;
                        font-family: poppins;
                    }

                    svg {
                        margin-right: 0.5em;
                        width: 18px;
                        height: 18px;
                        padding: 2px;
                    }

                    &:hover {
                        opacity: 100%;
                    }
                }
            }

            .cart {
                position: relative;
                margin-left: 0.5em;

                .circle {
                    width: 18px;
                    height: 18px;
                    background-color: $color-red;
                    border-radius: 100%;
                    position: absolute;

                    top: 0px;
                    right: 0px;

                    p {
                        font-size: 12px;
                        color: $text-color-secondary;
                    }
                }
            }

            @include respond(phone) {

                .search {
                    display: none;
                }

                .orders {
                    display: none;
                }
            }
        }

        .item {
            height: 100%;
            width: 40px;
            border-radius: 0.25em;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 0.1em;
            }

            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}