@import "../main.scss";

.header {
    height: 60px;
    padding: 0.75em 4em;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba($color-border, 0.3);
    z-index: 9999;

    @include respond(tab-port) {
        padding: 0.75em 2em;
    }


    @include respond(phone) {
        padding: 1em;
    }

    .content {
        margin: 0px;
        height: 100%;

        .left {
            width: 100%;
            >div {
                &:not(:last-child) {
                    margin-right: 1em;
                }
            }

            .logo {
                font-weight: bold;
                font-size: 1.5em;
                opacity: 50%;

                @include respond(phone) {
                    display: none;
                }

                &:hover{
                    opacity: 100%;
                }
            }

            .search {
                height: 100%;
            }

            .orders{
                height: 100%;
                opacity: 50%;
                p{
                    margin-left: 0.5em;
                    font-size: $font-sm;
                }
                &:hover{
                    opacity: 100%;
                }
            }

            @include respond(phone) {
                .search {
                    width: 100%;
                }

                .orders{
                    display: none;
                }
            }

        }

        .right {
            .profile {
                position: relative;

                .profileBox {
                    background-color: $background-color;
                    border:1px solid $color-border;
                    position: absolute;
                    top: 120%;
                    right: 0px;
                    width: 225px;
                    padding: 0.25em;
                    border-radius: 0.5em;
                    z-index: 999;

                    .link{
                        padding: 0.5em 1em;
                        border-radius: 0.5em;
                        cursor: pointer;

                        &:hover{
                            background-color: $color-secondary;
                        }
                    }
                }
            }

            .cart{
                position: relative;
                .circle{
                    width: 18px;
                    height: 18px;
                    background-color: $color-red;
                    border-radius: 100%;
                    position: absolute;

                    top: 0px;
                    right: 0px;

                    p{
                        font-size: 12px;
                        color: $text-color-secondary;
                    }
                }
            }
        }

        .item {
            height: 100%;
            width: 40px;
            border-radius: 0.25em;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 0.1em;
            }

            &:hover {
                background-color: $color-secondary;
            }
        }
    }

}