@use "sass:math";
@forward "../main.scss";
@use "../Abstracts/variables" as *;
@use "../Abstracts/mixins" as *;

.navigationProfile{
    width: 100%;
    position: relative;
    padding-bottom: $padding-bottom;

    .menu{
        display: flex;
        gap: $gap;
        background-color: $background-color-secondary;
        width: fit-content;
        border: 1px solid $color-border;
        border-radius: $border-radius;

        .link{
            padding: math.div($padding, 2);
            border-radius: $border-radius;
            font-size: $font-medium;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover{
                background-color: $background-color-tertiary;
                border: 1px solid $color-border;
            }
        }

        .active{
            background-color: $background-color;
            border: 1px solid $color-border;
            color: $text-color;
            box-shadow: $box-shadow-button;
        }
    }

    ::before{
        content: "";
        height: 1px;
        width: 100%;
        background: radial-gradient(circle, rgba(101,116,130,0.5) 0%, rgba(101,116,130,0.5) 35%, rgba(249,249,249,1) 100%);
        position: absolute;
        bottom:0px;
        right: 0px
    }
}