
.u-center-text {
    text-align: center !important;
}

.skeleton {
    width: 100%;
    height: 20px;
    background-color: $color-border;
    animation: loading 1s infinite;
    border-radius: 3px;
}

.none{
    display: none;
}

//Display flex
.display-flex {
    display: flex;

    &.allCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.justify {
        display: flex;
        justify-content: center;
    }

    &.align {
        display: flex;
        align-items: center;
    }

    &.space-between {
        display: flex;
        justify-content: space-between;
    }

    &.column{
        flex-direction: column;
    }

    &.row{
        flex-direction: row;
    }
}


//Margin
.mb-small {
    margin-bottom: 1em !important;
}

.mb-medium {
    margin-bottom: 2rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.mb-big {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.m-right{
    margin-right: 1em;
}

.m-left{
    margin-left: 0.75em;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.disabled{
    opacity: 50%;
}

//Icons

.icon {
    width: 16px;
    height: 16px;

    &__small {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
    }

    &__medium {
        width: 20px;
        height: 20px;
    }
}

.rotate45{
    rotate: 45deg;
}

.rotate180{
    rotate: 180deg;
}

//Cursor
.cursor {
    cursor: pointer;
}

//Others
/* .text-ellipsis {
    //display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} */



.divider{
    width: 100%;
    height: 1px;
    background-color: $color-border;
    margin: 3em 0em;
}

.divider__small{
    width: 100%;
    height: 1px;
    background-color: $color-border;
    margin: 1em 0em;
}

.backdropTransparent{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9998;
    background-color: transparent;
}

.disabled{
    opacity: 25%;
}

@keyframes loading {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}