@import "./main.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", "VictorMono";
  font-size: $font-normal;
  color: $text-color;
  font-weight: 400;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 47%, rgba(237,237,237,1) 59%, rgba(245,147,212,0.05) 86%, rgba(9,118,223,0.05) 98%);
  height: 100vh;
}

body {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 47%, rgba(237,237,237,1) 59%, rgba(245,147,212,0.05) 86%, rgba(9,118,223,0.05) 98%);
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "VictorMono";
  src: url("/fonts/VictorMono-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "VictorMono";
  src: url("/fonts/VictorMono-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

input{
    border: 1px solid $color-border;

    &:focus{
      border: 0px solid;
      outline: none;
      box-shadow: $color-secondary 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;    
      opacity: 100%;
    }

    &:valid{
      padding: 0em 1em;
    }
}

.warning{
  color: $color-red;
  padding: 0px;
  margin-bottom: 1em;
}