@import "./main.scss";

.modalSide {
    background-color: $background-color;
    width: 32.5%;
    height: 98%;
    position: absolute;
    right: 0.5%;
    top: 1%;
    border-radius: 1em;
    animation: appear-Right-to-Left 0.3s ease-in-out;
    border: 1px solid $color-border;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    z-index: 99999;
    padding-bottom: 7em;
    overflow: hidden;

    @include respond(tab-land) {
        width: 50%;
    }

    @include respond(tab-port) {
        width: 75%;
    }

    @include respond(phone) {
        width: 100%;
        top: 3%;
        border-radius: 0.5em;
        height: calc(100vh - 3%);
    }

    &.menu {
        width: 20%;

        @include respond(tab-land) {
            width: 40%;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    .header {
        border-radius: 1em 1em 0em 0em;
        padding: 1em;
        border: 1px solid $color-border;
        border-style: none none solid none;

        @include respond(phone) {
            border-radius: 0.5em 0.5em 0em 0em;
        }

        .close {
            width: fit-content;
            padding: 0.5em;
            border-radius: 3px;
            border: 1px solid transparent;

            p {
                padding-left: 0.75em;
            }

            &:hover {
                background-color: $color-secondary;
                border: 1px solid $color-border;
            }
        }
    }

    .content {
        padding: 1em 2.5em;
        height: 80%;
        overflow: scroll;
        overflow-x: hidden;


        &.menu {
            padding: 1em 1.5em;

            .profile {
                .icon {
                    
                    background-color: $color-tertiary;
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    .content{
                    }

                    p {
                        color: $text-color-secondary;
                        font-size: 16px;
                    }
                }

                .text {
                    padding-left: 1em;

                    p {
                        margin: 0px;
                    }

                    .user {
                        opacity: 50%;
                    }
                }
            }

            .item {
                padding: 0.5em;
                border-radius: 0.5em;
                cursor: pointer;

                p {
                    padding-left: 1em;
                }

                &:hover {
                    background-color: $color-secondary;
                }
            }
        }

        @include respond(phone) {
            padding: 1em 1.5em;
        }

        &::-webkit-scrollbar {
            width: 0.5em;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-primary;
            border-radius: 1em;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-border;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    .footer {
        min-height: 10%;
        width: 100%;
        padding: 1em 2em 2em 2em;
        border-top: 1px solid $color-border;
        justify-content: flex-end;
        position: absolute;
        bottom: 0px;
        background-color: $color-primary;
        box-shadow: rgba(0, 0, 0, 0.025) 0px -3px 3px 0px;

        .productsPendingMessage {
            padding: 1em 0em;
        }

        .pricing {
            display: flex;
            flex-direction: column;

            .seeCart {
                width: 100%;
                margin-top: 1em;
            }

            h4 {
                width: 100%;
                height: fit-content;
                border-radius: 3px;
                padding: 0.5em;
                background: linear-gradient(90deg,
                        rgba($color-yellow, 0.2) 0%,
                        $color-yellow 50%,
                        rgba($color-yellow, 0.2) 100%);
                border: 1px solid $color-yellow;

                @include respond(phone) {
                    font-size: 14px;
                }
            }
        }
    }

    &.closing {
        animation: disappear-Left-to-Right 0.3s ease-in-out;
    }
}

.modalPrincipal {
    background-color: $background-color;
    width: 75%;
    max-width: 1200px;
    max-height: 550px;
    position: absolute;
    border-radius: 1em;
    border: 1px solid $color-border;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    overflow: hidden;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    animation: modal-open 0.1s ease-in-out forwards;
    opacity: 0;

    &.closing {
        animation: modal-close 0.2s ease-in-out forwards;
    }

    @include respond(tab-land) {
        width: 75%;
    }

    @include respond(tab-port) {
        width: 75%;
    }

    @include respond(phone) {
        width: 100%;
        height: 100vh;
        transform: translate(0%, 0%) scale(0.8);
        left: 0%;
        top: 0%;
        max-height: none;

        animation: modal-open-mobil 0.1s ease-in-out forwards;
        border-radius: 1em 1em 0em 0em;

        &.closing {
            transform: translate(0%, 0%) scale(0.8);
            left: 0%;
            top: 0%;
            animation: modal-close-mobil 0.2s ease-in-out forwards;
        }
    }

    &.receipt {
        font-family: "VictorMono";
        width: 60%;

        @include respond(phone) {
            width: 100%;
        }
    }

    &.small {
        width: 30%;
        height: 60%;
        top: 37.5%;


        @include respond(tab-land) {
            width: 45%;
        }

        @include respond(phone) {
            background-color: $background-color;
            width: 100%;
            height: 85%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.8);
            animation: modal-open 0.1s ease-in-out forwards;
            opacity: 0;
        }

        .content {
            height: 75%;

            @include respond(phone) {
                height: 80%;
            }
        }

        .footer {
            height: 25%;

            @include respond(phone) {
                height: 20%;
            }
        }
    }

    .header {
        border-radius: 1em 1em 0em 0em;
        background-color: $background-color;
        padding: 0.5em 2em;
        border: 1px solid $color-border;
        border-style: none none solid none;

        @include respond(phone) {
            border-radius: 0.5em 0.5em 0em 0em;
        }

        .left {
            h3 {
                margin-right: 1em;
            }

            @include respond(phone) {
                .expand {
                    display: none;
                }
            }
        }

        .close {
            width: fit-content;
            padding: 0.5em;
            border-radius: 3px;
            height: fit-content;
            border: 1px solid transparent;

            &:hover {
                background-color: $color-secondary;
                border: 1px solid $color-border;
            }
        }
    }

    .content {
        padding: 1em 1em 6em 1em;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 90%;

        &::-webkit-scrollbar {
            width: 0.6em;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba($text-color-light, 0.75);
            border-radius: 1em;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    .footer {
        height: 10%;
        width: 100%;
        padding: 1em;
        border-top: 1px solid $color-border;
    }
}

.modalSearch {
    height: auto;
    width: 500px;
    position: absolute;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    z-index: 999999;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    .headerSearch {
        background-color: $color-primary;
        padding: 1em 1em 0em 1em;
        margin-bottom: 1em;
        border-radius: 0.5em 0.5em 0em 0em;
        background-color: $background-color;
        height: fit-content;

        .inputSearch {
            position: relative;

            .inputt {
                position: relative;
                border: none;
                width: 100%;
                height: 40px;
                position: relative;
                background-color: transparent;

                &:valid {
                    padding: 0em 2.5em;
                    border: transparent;
                }
            }

            .iconSearch {
                position: absolute;
                top: 0px;
                left: 0px;
                transform: translate(100%, 0%);
                height: 100%;
            }
        }

        .filtersSearch {
            padding: 0.75em 0.5em;

            >div :first-child {
                margin-right: 1em;
            }
        }
    }

    .resultsSearch {
        padding: 1em;
        background-color: $background-color;
        border-radius: 0em 0em 0.5em 0.5em;

        .messageEmpty {
            padding: 1em 0em;
        }
    }

    @include respond(phone) {
        top: 0%;
        left: 0px;
        transform: translateX(0%);

        border-radius: 0px;
        width: 100%;
        max-width: none;
        border: none;
        border-bottom: 1px solid $color-border;
    }
}

.modalMessage {
    background-color: $background-color;
    width: 425px;
    height: 215px;
    position: absolute;
    border-radius: 1em;
    border: 1px solid $color-border;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    z-index: 999999;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    animation: modal-open 0.1s ease-in-out forwards;
    opacity: 0;

    @include respond(phone) {
        width: 100%;
    }

    .content {
        height: 70%;
        padding: 2em;


        h2{
            margin-bottom: 1em;
        }
    }

    .footer {
        border-top: 1px solid $color-border;
        height: 30%;
        padding: 2em;
    }
}

//Backgrounds

.modalBackground {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: appear 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 99999;
}

.modalBackgroundSecondary {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: appear 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999999;
}