@import "./main.scss";

.table {
    width: 100%;
    font-size: $font-medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid $color-border;
        border-bottom: 0px;
        margin-bottom: $margin-horizontal;
        border-radius: $border-radius;

        -webkit-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        -moz-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);

        thead {
            background-color: $background-color;
            border-radius: $border-radius;

            th {
                padding: $padding;
                text-align: left;
                font-size: $font-small;
                color: $text-color-secondary;
                border-bottom: 1px solid $color-border;
                font-weight: lighter;

                &:first-child {
                    border-radius: $border-radius 0px;
                    overflow: hidden;
                }

                &:last-child {
                    border-radius: 0px $border-radius;
                    overflow: hidden;
                }

                @include respond(phone) {
                    padding: $padding;
                }
            }
        }

        tbody {
            color: $text-color-secondary;

            tr {
                border-radius: $border-radius;

                &:nth-child(even) {
                    background-color: $background-color;
                }

                &:hover {
                    background-color: $background-color-secondary;
                }

                td {
                    padding: $padding / 2 $padding;
                    border-bottom: 1px solid $color-border;
                    cursor: pointer;


                    &:first-child {
                        border-radius: 0px $border-radius;
                        overflow: hidden;
                    }

                    &:last-child {
                        border-radius: $border-radius 0px;
                        overflow: hidden;
                    }


                    @include respond(phone) {
                        padding: $padding;
                    }

                    &.text-blue-500 {
                        color: $color-blue;
                    }

                    &.font-bold {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .laodMore {
        width: 30%;

        @include respond(phone) {
            width: 100%;
        }
    }

    .message {
        padding: $padding 0em;
        text-align: center;
        color: $color-gray;
        font-size: $font-medium;
    }

    // Responsive adjustments for smaller screens
    @include respond(phone) {

        table {
            thead {
                display: none;
            }

            tbody {
                tr {
                    display: block;
                    margin-bottom: $margin-horizontal;
                    border-bottom: 1px solid $color-border;
                    padding: $padding;

                    td {
                        display: flex;
                        justify-content: space-between;
                        border: none;
                        min-width: 100%;
                        padding: 0px;
                        padding-bottom: $padding;
                        align-items: center;

                        &:before {
                            content: attr(data-label);
                            color: $color-gray;
                            flex-basis: 50%;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.tableSecondary {
    width: 100%;
    font-size: $font-medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid $color-border;
        border-bottom: 0px;
        margin-bottom: $margin-horizontal;
        border-radius: $border-radius;

        -webkit-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        -moz-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);

        tbody {
            tr {
                border-radius: $border-radius;

                .column {
                    display: flex;
                    flex-direction: column;
                    gap: $gap / 2;

                    @include respond(phone) {
                        text-align: end;

                        span{
                            display: none;
                        }

                        p:nth-child(2) {
                            display: none;
                        }

                        div:nth-child(2) {
                            display: none;
                        }

                    }
                }


                &:nth-child(even) {
                    background-color: $background-color;
                }

                &:hover {
                    background-color: $background-color-secondary;
                }

                td {
                    padding: $padding*1.5;
                    border-bottom: 1px solid $color-border;
                    cursor: pointer;


                    &:first-child {
                        border-radius: 0px $border-radius;
                        overflow: hidden;
                    }

                    &:last-child {
                        border-radius: $border-radius 0px;
                        overflow: hidden;
                    }

                    @include respond(phone) {
                        padding: $padding;
                    }

                    &.text-blue-500 {
                        color: $color-blue;
                    }

                    &.font-bold {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .laodMore {
        width: 30%;

        @include respond(phone) {
            width: 100%;
        }
    }

    .message {
        padding: $padding 0em;
        text-align: center;
        color: $color-gray;
        font-size: $font-medium;
    }

    @include respond(phone) {

        table {
            thead {
                display: none;
            }

            tbody {
                tr {
                    display: block;
                    border-bottom: 1px solid $color-border;
                    padding: $padding;
                    font-size: $font-small;

                    td {
                        display: flex;
                        justify-content: space-between;
                        border: none;
                        min-width: 100%;
                        padding: 0px;
                        padding-bottom: $padding;
                        align-items: center;

                        &:before {
                            content: attr(data-label);
                            color: $color-gray;
                            flex-basis: 50%;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.grid {

    display: flex;
    flex-direction: column;
    align-items: center;

    .contentGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gap*3;
        background-color: $background-color;
        margin-bottom: $margin-horizontal;

        @include respond(tab-port) {
            grid-template-columns: repeat(3, 1fr);
            padding: 0em $padding;
        }

        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0em;
        }

    }


    .laodMore {
        width: 30%;

        @include respond(phone) {
            width: 100%;
        }
    }

    .message {
        padding: $padding 0em;
        text-align: center;
        color: $color-gray;
        font-size: $font-medium;
    }


}

.tablesRequest {
    width: 100%;
    font-size: $font-medium;
    margin-bottom: 1em;
    border: 1px solid $color-border;
    background-color: $background-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    border-radius: 1em;
    margin-bottom: 1em;

    .requestCart {
        border-bottom: 1px solid $color-border;
        padding: 1em 2em;

        @include respond(phone) {
            padding: 1em;
        }

        /* &:hover {
            background-color: $color-secondary;
        } */

        .info {
            .header {
                font-weight: bold;
            }

            .data {
                .tags {
                    gap: 1em;

                    @include respond(phone) {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .action {

            .content {
                border: 1px solid $color-border;
                border-radius: 5px;
            }
        }
    }

}