@import "./main.scss";

.tablesRequest{
    width: 100%;
    font-size: 12px;
    margin-bottom: 1em;
    border: 1px solid $color-border;
    background-color: $background-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    border-radius: 1em;
    margin-bottom: 1em;

    .requestCart{
        border-bottom: 1px solid $color-border;
        padding: 1em 2em;

        &:hover{
            background-color: $color-secondary;
        }

        .info{
            .header{
                font-weight: bold;
            }
        }
        
        .action{
            
            .content{
                border: 1px solid $color-border;
                border-radius: 5px;

                .item{
                    background-color: $background-color;
                    border: none;
                    padding: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    cursor: pointer;

                    &:not(:last-child){
                        border-right: 1px solid $color-border;
                    }

                    &:hover{
                        background-color: $color-secondary;
                    }
                    
                }

            }
        }
    }

}