@import "./main.scss";

.table {
    background-color: $background-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    border-radius: 1em;
    margin-bottom: 1em;

    @include respond(phone) {
        // Put this padding here because of search mobil design ( see Home.module.scss ).
        //margin: 1.5em;
    }


    .headers {
        padding: 0.75em;
        border-radius: 1em 1em 0em 0em;
        border: 1px solid $color-border;
        padding-left: 1em;

        p:nth-child(1) {
            flex: 0 0 30%;
        }

        p:not(:nth-child(1)) {
            flex: 0 0 calc(70% / 6);
        }

        @include respond(phone) {
            display: none;
        }
    }

    .content {
        height: 100%;


        .item {
            padding: 0.75em;
            border: 1px solid $color-border;
            border-style: none solid solid solid;
            padding-left: 1em;

            @include respond(phone) {
                // Put this padding here because of search mobil design ( see Home.module.scss ).
                padding: 1em;
            }

            &:last-child {
                border-radius: 0em 0em 1em 1em;
            }

            .principalData {
                flex: 0 0 30%;
                font-weight: bold;

                >div {
                    margin-right: 1em;
                }

                @include respond(phone) {
                    margin-bottom: 0.5em;
                }
            }

            .secondaryData {
                flex: 1 1 70%;

                .headersMovil {
                    display: none;

                    @include respond(phone) {
                        display: block;
                        margin-right: 0.5em;
                    }
                }

                .notCounter {
                    width: calc((100% / 6) * 3);

                    >div {
                        margin-right: 1em;
                        width: 100%;

                        >p>strong {
                            display: none;
                        }
                    }


                    @include respond(phone) {
                        width: 100%;
                        margin-bottom: 0.5em;
                        display: flex;
                        flex-direction: column;

                        >div {
                            margin-left: 1em;

                            >p>strong {
                                display: inline;
                                margin-right: 0.5em;
                            }

                            p {
                                max-width: none;
                                font-size: $font-sm-phone;
                            }
                        }
                    }

                    @include respond(tab-port) {
                        p {
                            width: 100%;
                            max-width: 80px;
                        }
                    }
                }

                .counterColumn {
                    width: calc((100% / 6) * 3);

                    >div{
                        width: 100%;
                    }

                    .price {
                        font-weight: bold;
                        width: 100%;
                        margin-right: 0.5em;
                    }

                    @include respond(phone) {
                        width: 100%;
                        justify-content: flex-end;
                        flex-direction: column;

                        >div{
                            justify-content: flex-end;
                            display: flex;
                        }
                    }
                }

                @include respond(phone) {
                    flex-direction: column;
                }
            }

            @include respond(tab-land) {
                p:not(:nth-child(1)) {
                    max-width: 100px;
                }
            }

            @include respond(tab-port) {
                p:not(:nth-child(1)) {
                    max-width: 80px;
                }
            }

            @include respond(phone) {
                display: flex;
                flex-direction: column;
            }

            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}

.tag {
    .content {
        padding: 0.25em 0.75em;
        width: fit-content;
        border-radius: 5px;
        max-width: 120px;
        height: 100%;
        font-size: $font-sm;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;

        svg {
            margin-left: 0.5em;
        }

        &.green {
            background-color: rgba($color-green, 0.2);
            color: $color-green;
        }

        &.red {
            background-color: rgba($color-red, 0.2);
            color: $color-red;
        }

        &.blue {
            background-color: rgba($color-blue, 0.2);
            color: $color-blue;
        }

        &.gray {
            background-color: rgba($color-gray, 0.2);
            color: $color-gray;
        }

        @include respond(tab-land) {
            max-width: 100px;
        }

        @include respond(tab-port) {
            max-width: 80px;
        }

        @include respond(phone) {
            max-width: 120px;
            font-size: $font-sm-phone;
        }
    }

    &.option {
        &:hover {
            opacity: 70%;
        }
    }
}

.counter {
    width: 100%;
    height: auto;

    .action {
        background-color: $color-secondary;
        border-radius: 5px;
        border: 1px solid $color-border-secondary;
        padding: 0.5em 0.75em;

        &.active{
            border: 1px solid $color-tertiary;
        }
    }

    .number {
        padding: 0em 0.1em;
    }

    &:hover {
        .action {
            background-color: $background-color;

            &:hover {
                border: 1px solid $text-color;
            }
        }
    }

    @include respond(phone) {
        justify-content: flex-end;
        width: 100%;

        .action {
            height: 30px;
        }

        .number {
            padding: 0em 1em;
        }
    }
}

.filter {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 125%;
    z-index: 9999;

    @include respond(phone) {
        width: 100%;
    }

    .titles {
        width: 50%;
        padding: 0.5em;
        background-color: $color-primary;
        border-radius: 0.5em 0em 0em 0.5em;
        border: 1px solid $color-border-secondary;

        .titleOption {
            margin-bottom: 0.5em;
            padding: 0em 0.5em;
            border: 1px solid transparent;
            border-radius: 3px;

            &.active {
                background-color: $color-secondary;
                border: 1px solid $color-border;
            }
        }

        :hover {
            background-color: $color-secondary;
            border: 1px solid $color-border;
        }
    }

    .options {
        width: 50%;
        border-radius: 0em 0.5em 0.5em 0em;
        background-color: $color-primary;
        padding: 1em;
        border: 1px solid $color-border-secondary;
        border-left: 0px solid transparent;

        label {
            margin-bottom: 0.5em;
        }

        p {
            margin-left: 0.5em;
        }
    }
}

.backdropTransparent {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9998;
}